<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="dashboard-container">
        <header>
            <h1>Dashboard</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </nav>
        <main>
            <h2>Welcome to Dog Food Sales</h2>
            <p>Here you can browse for dog foods and meds for ur dog!.</p>
        </main>
        <footer>
            <p>&copy; 2025 DogFoodSales</p>
        </footer>
    </div>
</body>

</html>