<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <div class="container mx-auto mt-5">
    <h2 class="text-2xl font-bold mb-5 text-center">Customer List</h2>
    <a href="/customer/newCustomer" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600 mb-3 inline-block">Add
      Customer</a>
    <a href="/products" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600 mb-3 inline-block">Add
      Product</a>
    <table class="min-w-full bg-white border-collapse border border-gray-200">
      <thead>
        <tr class="bg-gray-100">
          <th class="px-4 py-2 text-left font-semibold">ID</th>
          <th class="px-4 py-2 text-left font-semibold">Customer Name</th>
          <th class="px-4 py-2 text-left font-semibold">Customer PhoneNumber</th>
          <th class="px-4 py-2 text-left font-semibold">Customer Email</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="customer : ${customer}">
          <td class="px-4 py-2 border-b" th:text="${customer.CUSTOMER_ID}"></td>
          <td class="px-4 py-2 border-b" th:text="${customer.CUSTOMER_NAME}"></td>
          <td class="px-4 py-2 border-b" th:text="${customer.CUSTOMER_PHONENUMBER}"></td>
          <td class="px-4 py-2 border-b" th:text="${customer.CUSTOMER_EMAIL}"></td>
          <td class="px-4 py-2 border-b">
            <a th:href="@{/customer/CustomerEdit/{id}(id=${customer.CUSTOMER_ID})}"
              class="bg-yellow-500 text-white p-2 rounded hover:bg-yellow-600">Edit</a>
            <a th:href="@{/customer/CustomerDelete/{id}(id=${customer.CUSTOMER_ID})}"
              class="bg-red-500 text-white p-2 rounded hover:bg-red-600 ml-2">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>